<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row g-0">
        <div class="col-sm-6 col-md-8">The list detail</div>
        <div class="col-6 col-md-4">
            <a th:href="@{/create-city}">Add new</a>
        </div>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Color</th>
                <th>Quantity</th>
            </tr>
            <th:block th:each="p,seriable :${list}">
                <td th:utext="${p.getProduct().getProductName()}"></td>
                <td th:utext="${p.getSize()}"></td>
                <td th:utext="${p.getColor()}"></td>
                <td th:utext="${p.getQuantity()}"></td>
                <td><a th:href="@{edit/detail/{id}(id=${p.getWarehouseId()})}" style="text-decoration: none">Edit</a></td>
            </th:block>

        </table>
    </div>
</div>

</body>
</html>