<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-product">Create new product</a>
<h1>Products</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Gender</th>
        <th>Price</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.gender}"></td>
            <td th:text="${product.prices}"></td>
            <td><a th:href="@{/edit-product/__${product.productId}__ }">Edit</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>