<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row g-0">
        <div class="col-sm-6 col-md-8"><a href="" style="text-decoration: none">User Manager</a></div>
        <div class="col-sm-6 col-md-8">
            <input type="" id="key-search" placeholder="tìm kiếm ở đây nè" oninput="searchOrderByKey()">

            <input type="radio" onclick="findWait()" value="wait" name="search">wait
            <input type="radio" onclick="findShipping()" name="search" value="shipping">shipping
        </div>
    </div>
    <div>
        <table class="table table-striped table-hover" id="rePrint">
            <tr>
                <th>#number</th>
                <th>account</th>
                <th>date-order</th>
                <th>$total</th>
                <th>status</th>
                <th>view</th>
            </tr>
            <tr th:each="order:${orders}">
                <td th:utext="${order.getOrderId()}"></td>
                <td th:utext="${order.getAppUser().getName()}"></td>
                <td th:utext="${order.getOrderDate()}"></td>
                <td th:utext="${order.getTotal()}"></td>
                <td><select name="" th:id="${order.getOrderId()}" th:onchange="|changeStatus('${order.getOrderId()}')|">
                    <option value="wait" th:if="${order.status}=='wait'">-wait-</option>
                    <option value="shipping">-shipping-</option>
                    <option value="done">-done-</option>
                </select>
                </td>
                <td><a style="text-decoration: none" th:href="@{/order-manager/detail/{orderId}(orderId=${order.getOrderId()})}"
                       th:onclick="|seeThisOrdersDetail('${order.getOrderId()}')|">View</a></td>
            </tr>
        </table>
    </div>
    <div>
        <div>
            <a th:href="@{'/home'(page=${orders.number-1})}" th:if="${orders.hasPrevious()}">Back</a>
            <span th:utext="${orders.number+1}"></span>/<span th:utext="${orders.totalPages}"></span>
            <a th:href="@{'/home'(page=${orders.number+1})}" th:if="${orders.hasNext()}">Next</a>
        </div>
    </div>
</div>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function changeStatus(id) {
        let status = document.getElementById(id).value
        if (confirm("Do you want to change #order" + id + "'s status")) {
            $.ajax({
                type: "PUT",
                url: `/api/admin/${id}/${status}`,
                success: function (data) {
                    let content = "";
                    if (data.status == "shipping") {
                        content += `
                    <option value="shipping">-shipping-</option>
                    <option value="done">-done-</option>`
                        document.getElementById(id).innerHTML = content;
                    } else if (data.status == "done") {
                        location.reload()
                    }

                }
            })
        }
    }

    function rePrint(a) {
        if (a.status == 'shipping') {
            return `<tr>
<td>${a.orderId}</td>
                <td>${a.appUser.name}</td>
                <td>${a.orderDate}</td>
                <td>${a.total}</td>
                <td><select name="" id="${a.orderId}" onchange="changeStatus(\'' + ${a.orderId} + '\')">

                    <option value="shipping">-shipping-</option>
                    <option value="done">-done-</option>
                </select>
                </td>
                <td><a style="text-decoration: none" href="#" onclick="seeThisOrdersDetail(\''+${a.orderId}+'\+)">View</a></td>
</tr>`
        }
        return `<tr>
<td>${a.orderId}</td>
                <td>${a.appUser.name}</td>
                <td>${a.orderDate}</td>
                <td>${a.total}</td>
                <td><select name="" id="${a.orderId}" onchange="changeStatus(\'' + ${a.orderId} + '\')">
                    <option value="wait">-wait-</option>
                    <option value="shipping">-shipping-</option>
                    <option value="done">-done-</option>
                </select>
                </td>
                <td><a style="text-decoration: none" href="#" onclick="seeThisOrdersDetail(\''+${a.orderId}+'\+)">View</a></td>
</tr>`
    }


    function findWait() {
        doSortOrderByStatus("wait")
    }

    function findShipping() {
        doSortOrderByStatus("shipping")
    }


    function doSortOrderByStatus(value) {
        $.ajax({
            type: "GET",
            url: `api/admin/status/${value}`,
            success: function (data) {
                let content1 = `  <tr>
                <th>#number</th>
                <th>account</th>
                <th>date-order</th>
                <th>$total</th>
                <th>status</th>
                <th>view</th>
            </tr>`
                let content2 = ""
                for (i = 0; i < data.length; i++) {
                    content2 += rePrint(data[i]);
                }
                let content = content1 + content2;
                document.getElementById("rePrint").innerHTML = content;
                console.log(document.getElementById("rePrint").innerHTML)
            }
        })
    }

    function searchOrderByKey() {
        let value = document.getElementById('key-search').value;
        $.ajax({
            type: "GET",
            url: `api/admin/key/${value}`,
            success: function (data) {
                let content1 = `  <tr>
                <th>#number</th>
                <th>account</th>
                <th>date-order</th>
                <th>$total</th>
                <th>status</th>
                <th>view</th>
            </tr>`
                let content2 = ""
                for (i = 0; i < data.length; i++) {
                    content2 += rePrint(data[i]);
                }
                let content = content1 + content2;
                document.getElementById("rePrint").innerHTML = content;
                console.log(document.getElementById("rePrint").innerHTML)
            }
        })
    }
</script>